[Unit]
Description=Node exporter
After=network-online.target Version {{ node_exporter_version }}

[Service]
User={{ node_exporter_user }}
Group={{ node_exporter_group }}
Type=simple
ExecStart={{ node_exporter_bin }}

[Install]
WantedBy= multi-user.target
